<p id="notice"><%= notice %></p>

<h1>Blog Posts</h1>
<%= link_to 'New Article', new_article_path %>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Title</th>
      <th>Photo</th>
      <th>Text</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
    <% country = article.country %>
          <tr>
        <td><%= link_to article.country.name, country_path(country.alpha2code) %></td>
        <td><%= article.title %></td>
        <td><img class="miniature" src="<%= article.photo %>" alt="" /><br><%= link_to 'Show', article %></td>
        <td><%= article.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
