<p id="notice"><%= notice %></p>

<h1>Countries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Alpha2Code</th> -->
      <!-- <th>Alpha3Code</th> -->
      <th>Continent</th>
      <!-- <th>Capital</th>
      <th>Latitude</th>
      <th>Longitude</th> -->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= link_to country.name, country_path(country.id) %></td>
        <!-- <td><%= country.alpha2code %></td> -->
        <!-- <td><%= country.alpha3code %></td> -->
        <td><%= country.continent %></td>
        <!-- <td><%= country.capital %></td>
        <td><%= country.latitude %></td>
        <td><%= country.longitude %></td> -->
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
        <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Country', new_country_path %> 
<!-- <%= link_to 'Home', root_path %> -->
