<p id="notice"><%= notice %></p>

<p>
  Country:<br>
  <strong><%= @country.name %></strong>
</p>

<p>
  2-letter Country Code:<br>
  <strong><%= @country.alpha2code %></strong>
</p>

<!-- <p>
  <strong>Code3:</strong>
  <%= @country.alpha3code %>
</p>
 -->
<p>
  Continent:<br>
  <strong><%= @country.continent %></strong>
</p>

<!-- <p>
  <strong>Capital:</strong>
  <%= @country.capital %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @country.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @country.longitude %>
</p> -->

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'All countries', countries_path %>
